[Unit]
Description=Neuron
[Service]
ExecStart=/usr/local/bin/neuron -d /home/eeau6000/neuron gen -ws localhost:4321
[Install]
WantedBy=multi-user.target
