**/*log
**/.uuid
Session.vim
.undodir

conf/systemd/user/multi-user.target.wants

neuron/.neuron/output

**/secret

conf/zsh/incub.zsh
bin/chrysalis
bin/nvim-linux64
code-template/java/patterns/abstract-factory/.vscode
code-template/java/patterns/builder/app/bin/test/builder
code-template/java/patterns/builder/.vscode
code-template/java/patterns/builder/app/bin/main/builder/model
code-template/kata/game-of-life/app/bin
code-template/rust/guess-me/target